<!DOCTYPE html>
<html>
<head>
    <title>法規檢視器</title>
</head>
<body>
    <h1>法規檢視器</h1>
    <ul>
        <li><a href="/regulation/營造安全衛生設施標準">營造安全衛生設施標準</a></li>
        <li><a href="/regulation/職業安全衛生法施行細則">職業安全衛生法施行細則</a></li>
        <li><a href="/regulation/職業安全衛生設施規則">職業安全衛生設施規則</a></li>
        <li><a href="/regulation/職業安全衛生法">職業安全衛生法</a></li>
        <li><a href="/regulation/營建工程空氣污染防制設施管理辦法">營建工程空氣污染防制設施管理辦法</a></li>
        <li><a href="/regulation/用戶用電設備裝置規則">用戶用電設備裝置規則</a></li>
        <li><a href="/regulation/消防法">消防法</a></li>
        <li><a href="/regulation/危險性機械及設備安全檢查規則">危險性機械及設備安全檢查規則</a></li>
        <li><a href="/regulation/臺中市政府環境保護局安全衛生工作守則">臺中市政府環境保護局安全衛生工作守則</a></li>
        <li><a href="/regulation/營造工地電氣作業安全檢查重點及注意事項">營造工地電氣作業安全檢查重點及注意事項</a></li>
        <li><a href="/regulation/起重升降機具安全規則">起重升降機具安全規則</a></li>
        <li><a href="/regulation/高壓氣體勞工安全規則">高壓氣體勞工安全規則</a></li>
        <li><a href="/regulation/施工架作業安全檢查重點及注意事項">施工架作業安全檢查重點及注意事項</a></li>
        <li><a href="/regulation/勞工健康保護規則">勞工健康保護規則</a></li>
        <li><a href="/regulation/各類場所消防安全設備設置標準">各類場所消防安全設備設置標準</a></li>
        <li><a href="/regulation/消防法施行細則">消防法施行細則</a></li>
        <li><a href="/regulation/水污染防治措施及檢測申報管理辦法">水污染防治措施及檢測申報管理辦法</a></li>
        <li><a href="/regulation/高公局施工之交通管制守則">高公局施工之交通管制守則</a></li>
        <li><a href="/regulation/臺南市政府交通局反射鏡設置作業原則">臺南市政府交通局反射鏡設置作業原則</a></li>
        <li><a href="/regulation/高架作業勞工保護措施標準">高架作業勞工保護措施標準</a></li>
        <li><a href="/regulation/職業安全衛生標示設置準則">職業安全衛生標示設置準則</a></li>
        <li><a href="/regulation/空氣汙染防治法">空氣汙染防治法</a></li>
        <li><a href="/regulation/高氣溫戶外作業勞工熱危害預防指引">高氣溫戶外作業勞工熱危害預防指引</a></li>
        <li><a href="/regulation/勞工保險條例">勞工保險條例</a></li>
        <li><a href="/regulation/工程告示牌及竣工銘牌設置要點">工程告示牌及竣工銘牌設置要點</a></li>
        <li><a href="/regulation/工程施工查核作業參考基準(伍)">工程施工查核作業參考基準(伍)</a></li>
        <li><a href="/regulation/有機溶劑中毒預防規則">有機溶劑中毒預防規則</a></li>
        <!-- 可以加入更多法規連結 -->
    </ul>
</body>
</html> 